
/*--------------------------------------------------------------*/
    /* #region - Thumb IconsGroup Style */
/*--------------------------------------------------------------*/

    .woocommerce ul.products[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons .wc_inline_buttons .wc_btn_inline { margin: 2px; }


    .woocommerce ul.products.product-thumb-iconsgroup-style-brdrfill-rounded li.product .product-thumb .product-buttons-wrapper.product-icons a,
    .woocommerce ul.products.product-thumb-iconsgroup-style-brdrfill-rounded li.product .product-thumb .product-buttons-wrapper.product-icons a.button,
    .woocommerce ul.products.product-thumb-iconsgroup-style-brdrfill-rounded li.product .product-thumb .product-buttons-wrapper.product-icons button,
    .woocommerce ul.products.product-thumb-iconsgroup-style-brdrfill-rounded li.product .product-thumb .product-buttons-wrapper.product-icons button.button,
    .woocommerce ul.products.product-thumb-iconsgroup-style-brdrfill-rounded li.product .product-thumb .product-buttons-wrapper.product-icons .button,

    .woocommerce ul.products.product-thumb-iconsgroup-style-brdrfill-rounded li.product .product-thumb .product-buttons-wrapper.product-icons .blockUI.blockOverlay { -webkit-border-radius: 50%; border-radius: 50%; }


    .woocommerce ul.products[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons a,
    .woocommerce ul.products[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons a.button,
    .woocommerce ul.products[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons button,
    .woocommerce ul.products[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons button.button,
    .woocommerce ul.products[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons .button { background-color: transparent !important; border: 1px solid currentColor; }


    .woocommerce ul.products[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons a,
    .woocommerce ul.products[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons a.button,
    .woocommerce ul.products[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons button,
    .woocommerce ul.products[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons button.button,
    .woocommerce ul.products[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons .button { color: rgba(var(--wdtHeadAltColorRgb),0.8); }

    .woocommerce ul.products.product-overlay-dark-bgcolor[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons a,
    .woocommerce ul.products.product-overlay-dark-bgcolor[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons a.button,
    .woocommerce ul.products.product-overlay-dark-bgcolor[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons button,
    .woocommerce ul.products.product-overlay-dark-bgcolor[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons button.button,
    .woocommerce ul.products.product-overlay-dark-bgcolor[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons .button { color: rgba(var(--wdtAccentTxtColorRgb),0.85); }


    .woocommerce ul.products.product-overlay-dark-bgcolor[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons a:hover,
    .woocommerce ul.products.product-overlay-dark-bgcolor[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons a.button:hover,
    .woocommerce ul.products.product-overlay-dark-bgcolor[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons button:hover,
    .woocommerce ul.products.product-overlay-dark-bgcolor[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons button.button:hover,
    .woocommerce ul.products.product-overlay-dark-bgcolor[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons .button:hover { color: rgba(var(--wdtAccentTxtColorRgb),0.8); }

/* #endregion - Thumb IconsGroup Style */


/*--------------------------------------------------------------*/
    /* #region - Accents */
/*--------------------------------------------------------------*/

	/* Primary */
    .woocommerce ul.products[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons a:hover,
    .woocommerce ul.products[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons a.button:hover,
    .woocommerce ul.products[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons button:hover,
    .woocommerce ul.products[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons button.button:hover,
    .woocommerce ul.products[class*="product-thumb-iconsgroup-style-brdrfill"] li.product .product-thumb .product-buttons-wrapper.product-icons .button:hover { color: var(--wdtPrimaryColor); }

/* #endregion - Accents */