
/*--------------------------------------------------------------*/
    /* #region - Thumb IconsGroup Style */
/*--------------------------------------------------------------*/
    
    .woocommerce ul.products[class*="product-thumb-iconsgroup-style-skinbgfill"] li.product .product-thumb .product-buttons-wrapper.product-icons .wc_inline_buttons .wc_btn_inline { margin: 2px; }


    .woocommerce ul.products.product-thumb-iconsgroup-style-skinbgfill-rounded li.product .product-thumb .product-buttons-wrapper.product-icons a, 
    .woocommerce ul.products.product-thumb-iconsgroup-style-skinbgfill-rounded li.product .product-thumb .product-buttons-wrapper.product-icons a.button, 
    .woocommerce ul.products.product-thumb-iconsgroup-style-skinbgfill-rounded li.product .product-thumb .product-buttons-wrapper.product-icons button, 
    .woocommerce ul.products.product-thumb-iconsgroup-style-skinbgfill-rounded li.product .product-thumb .product-buttons-wrapper.product-icons button.button,
    .woocommerce ul.products.product-thumb-iconsgroup-style-skinbgfill-rounded li.product .product-thumb .product-buttons-wrapper.product-icons .button,

    .woocommerce ul.products.product-thumb-iconsgroup-style-skinbgfill-rounded li.product .product-thumb .product-buttons-wrapper.product-icons .blockUI.blockOverlay { -webkit-border-radius: 50%; border-radius: 50%; }

/* #endregion - Thumb IconsGroup Style */