
/*--------------------------------------------------------------*/
    /* #region - Accents */
/*--------------------------------------------------------------*/

	/* Primary */
    .woocommerce ul.products[class*="product-thumb-buttonelement-style-skinbgfill"] li.product .product-thumb .product-buttons-wrapper.product-button .wc_btn_inline,
    .woocommerce ul.products[class*="product-thumb-buttonelement-style-skinbgfill"] li.product .product-thumb .product-buttons-wrapper.product-button .wc_btn_inline a,
    .woocommerce ul.products[class*="product-thumb-buttonelement-style-skinbgfill"] li.product .product-thumb .product-buttons-wrapper.product-button .wc_btn_inline a.button,
    .woocommerce ul.products[class*="product-thumb-buttonelement-style-skinbgfill"] li.product .product-thumb .product-buttons-wrapper.product-button .wc_btn_inline button,
    .woocommerce ul.products[class*="product-thumb-buttonelement-style-skinbgfill"] li.product .product-thumb .product-buttons-wrapper.product-button .wc_btn_inline button.button,
    .woocommerce ul.products[class*="product-thumb-buttonelement-style-skinbgfill"] li.product .product-thumb .product-buttons-wrapper.product-button .wc_btn_inline .button  { background-color: var(--wdtPrimaryColor); }

/* #endregion - Accents */