/*--------------------------------------------------------------
    Header
--------------------------------------------------------------*/

    #header-wrapper {
        float: left;
        margin: 0 0 100px;
        padding: 0;
        position: relative;
        width: 100%;
    }

    #header {
        float: left;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
        z-index: 10;
    }

    #header-wrapper #header:only-child .wdt-no-header-builder-content {
        position: relative;
    }

    #header-wrapper #header:only-child .wdt-no-header-builder-content:before {
        background-color: inherit;
        content: "";
        display: inline !important;
        height: 100%;
        pointer-events: none;
        position: absolute;
        left: 50%;
        top: 0;
        width: 9999px;
        z-index: 1;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .wdt-no-header-builder-content .no-header {
        position: relative;
        z-index: 1;

        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: -ms-flex;
        display: flex;

        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        justify-content: space-between;
    }

    .wdt-no-header-builder-content .no-header .no-header-title {
        width: 30%;
    }

    .wdt-no-header-builder-content .no-header .no-header-title:only-child { display: flex; justify-content: center; width: 100%; }

    .wdt-no-header-builder-content .no-header .no-header-title>a {
        display: inline-block;
        font-family: var(--wdtFontTypo_Alt);
        font-size: var(--wdtFontSize_H2);
        font-weight: bold;
        width: auto;
    }

    .wdt-no-header-builder-content .no-header .no-header-title>a,
    .wdt-no-header-builder-content .no-header .no-header-title>a:focus { text-decoration: none; }

    .wdt-no-header-builder-content .no-header .no-header-title a img,
    .wdt-logo-container a img {
        max-width: 118px;
    }

    .wdt-no-header-builder-content .no-header .no-header-title .alternate_logo {
        display: none;
    }

    .wdt-no-header-builder-content .no-header .no-header-title h2 {
        margin: 10px 0;
    }


    .wdt-no-header-builder-content .no-header .no-header-title>a:focus,
    .wdt-no-header-builder-content .no-header .mobile-nav-container .menu-trigger:focus { outline: thin dotted; }

    .wdt-no-header-builder-content .no-header .mobile-nav-container .menu-trigger:focus { outline-offset: 5px; }

    .wdt-no-header-builder-content .no-header .no-header-logo { margin: 20px 0; max-width: 100px; width: 100px; }

/*--------------------------------------------------------------
    Header Menu Navigation
--------------------------------------------------------------*/

    .wdt-header-menu ul>li,
    .wdt-header-menu ul>li a,
    .wdt-header-menu ul>li>a:before,
    .wdt-header-menu ul>li>a:after,
    .wdt-header-menu ul>li a>span,
    .wdt-header-menu ul>li a>span:before {
        -webkit-transition: var(--wdtBaseTransition);
        transition: var(--wdtBaseTransition);
    }

    .wdt-header-menu,
    .wdt-header-menu ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .wdt-header-menu > ul { text-align: inherit; }
    .wdt-header-menu ul ul { text-align: left; }

    .wdt-no-header-builder-content.aligncenter .no-header .wdt-header-menu,
    .wdt-no-header-builder-content.aligncenter .no-header .wdt-header-menu>ul  {
        text-align: center;
    }

    .wdt-header-menu,
    .wdt-header-menu li {
        display: inline-block;
        font-size: 0;
        line-height: 0;
        vertical-align: middle;
    }

    .wdt-header-menu li {
        line-height: normal;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .wdt-header-menu li a,
    .wdt-header-menu ul li ul.children >li>a,
    .wdt-header-menu ul li ul.sub-menu >li>a,
    .wdt-header-menu ul li.has-mega-menu ul li.menu-item-object-wdt_mega_menus li a {
        font-size: var(--wdtFontSize_Base);
        line-height: 1.8;
        text-transform: none;
    }

    .wdt-header-menu ul li.has-mega-menu ul li.menu-item-object-wdt_mega_menus li:not(:last-child) a {
        margin: 0 0 10px;
    }

    .wdt-header-menu li a:not(:focus),
    .wdt-header-menu ul li ul.children >li>a:not(:focus),
    .wdt-header-menu ul li ul.sub-menu >li>a:not(:focus) { text-decoration: none; }

	.wdt-header-menu ul li ul.children >li>a,
	.wdt-header-menu ul li ul.sub-menu >li>a,
	.wdt-header-menu ul li.has-mega-menu ul li.menu-item-object-wdt_mega_menus li a { font-size: 0.9rem; padding: 0; margin: 0; }

    .wdt-header-menu ul li.has-mega-menu>ul .elementor-section-stretched {
        left: 0 !important;
        width: auto !important;
    }

    .wdt-header-menu ul li.has-mega-menu ul li.menu-item-object-wdt_mega_menus .elementor-heading-title {
        margin: 0;
        border-bottom: 1px solid var(--wdtBorderColor);
        padding: 0 0 10px;
        color: var(--wdtHeadAltColor);
        font-size: var(--wdtFontSize_H6);
    }

    .wdt-header-menu .wdt-primary-nav > li > a {
        display: inline-block;
        padding: 8px 24px;
        vertical-align: middle;
    }

    .wdt-header-menu .wdt-primary-nav > li > a:empty {
        display: none;
    }

    .wdt-header-menu ul li ul.children > li>a,
    .wdt-header-menu ul li ul.sub-menu > li>a,
    .wdt-header-menu ul li.has-mega-menu ul.menu > li > a {
        border-bottom: 0px solid;
        padding: 6px 20px;
    }

    .wdt-header-menu ul li ul.children > li:last-child>a,
    .wdt-header-menu ul li ul.sub-menu > li:last-child>a,
    .wdt-header-menu ul li.has-mega-menu ul.menu > li:last-child > a {
        border-bottom-width: 0;
    }

    .wdt-header-menu ul li ul.children,
    .wdt-header-menu ul li ul.sub-menu,
    .wdt-header-menu ul li.has-mega-menu > ul {
		border-top: 0px solid;
		margin: 0;
		opacity: 0;
		padding: 15px 0;
		pointer-events: none;
		position: absolute;
		left: 5px;
		top: 100%;
		text-align: left;
		z-index: 10;
		-webkit-transition: all 0.1s ease-in;
		transition: all 0.1s ease-in;
        /* -webkit-border-radius: 0 0 var(--wdtRadius_3X) var(--wdtRadius_3X);
        border-radius: 0 0 var(--wdtRadius_3X) var(--wdtRadius_3X); */

        -webkit-transform: translateY(20px); transform: translateY(20px);
    }

    .wdt-header-menu ul li.focus > ul, .wdt-header-menu ul li:focus > ul, .wdt-header-menu ul li:hover > ul {
        -webkit-transform: translateY(0px); transform: translateY(0px);
    }

    .wdt-header-menu ul.children>li:last-child>ul,
    .wdt-header-menu ul.children>li:nth-last-child(2)>ul,
    .wdt-header-menu ul.sub-menu>li:last-child>ul,
    .wdt-header-menu ul.sub-menu>li:nth-last-child(2)>ul {
        left: auto;
        right: 0;
    }

    .wdt-header-menu ul li ul.children,
    .wdt-header-menu ul li ul.sub-menu {
        width: 225px;
    }

    .wdt-header-menu .menu-container ul li ul.children,
    .wdt-header-menu .menu-container ul li ul.sub-menu {
        width: 225px;
    }

    .wdt-header-menu ul li.has-mega-menu>ul {
        font-size: 14px;
        margin: 0 auto;
        position: absolute;
        left: auto;
        right: auto;
        width: auto;
        padding: 0;
    }

    .wdt-header-menu li.has-mega-menu ul ul {
        display: block;
        opacity: 1;
        position: static;
        visibility: visible;
    }

    .wdt-header-menu li.has-mega-menu ul ul.children,
    .wdt-header-menu li.has-mega-menu ul ul.sub-menu { display: none !important; }

    .wdt-header-menu ul li ul.children li,
    .wdt-header-menu ul li ul.sub-menu li {
        margin: 0;
    }

    .wdt-header-menu ul li ul.children li ul,
    .wdt-header-menu ul li ul.sub-menu li ul {
        left: 100%;
        top: -15px;
    }

    .wdt-header-menu ul li.menu-item-depth-2>ul,
    .wdt-header-menu ul li.menu-item-depth-4>ul,
    .wdt-header-menu ul li.menu-item-depth-6>ul,
    .wdt-header-menu ul li.menu-item-depth-8>ul,
    .wdt-header-menu ul li.menu-item-depth-10>ul,

    .wdt-header-menu ul>li:nth-child(n+2) ul li.menu-item-depth-1>ul,
    .wdt-header-menu ul>li:nth-child(n+2) ul li.menu-item-depth-3>ul,
    .wdt-header-menu ul>li:nth-child(n+2) ul li.menu-item-depth-5>ul,
    .wdt-header-menu ul>li:nth-child(n+2) ul li.menu-item-depth-7>ul,
    .wdt-header-menu ul>li:nth-child(n+2) ul li.menu-item-depth-9>ul { left: 100%; right: auto; }

    .wdt-header-menu ul li.menu-item-depth-1>ul,
    .wdt-header-menu ul li.menu-item-depth-3>ul,
    .wdt-header-menu ul li.menu-item-depth-5>ul,
    .wdt-header-menu ul li.menu-item-depth-7>ul,
    .wdt-header-menu ul li.menu-item-depth-9>ul,

    .wdt-header-menu ul>li:nth-child(n+2) ul li.menu-item-depth-2>ul,
    .wdt-header-menu ul>li:nth-child(n+2) ul li.menu-item-depth-4>ul,
    .wdt-header-menu ul>li:nth-child(n+2) ul li.menu-item-depth-6>ul,
    .wdt-header-menu ul>li:nth-child(n+2) ul li.menu-item-depth-8>ul,
    .wdt-header-menu ul>li:nth-child(n+2) ul li.menu-item-depth-10>ul { right: 100%; left: auto; }

    .wdt-header-menu ul li.has-mega-menu:last-child>ul,
    .wdt-header-menu ul li.has-mega-menu:nth-last-child(2)>ul {
        left: 0;
        right: auto;
    }

    .wdt-header-menu ul.children li, .wdt-header-menu ul.children li a,
    .wdt-header-menu ul.sub-menu li, .wdt-header-menu ul.sub-menu li a {
        display: inline-block;
        width: 100%;
    }

    .wdt-header-menu ul li.focus>ul,
    .wdt-header-menu ul li:focus>ul,
    .wdt-header-menu ul li:hover>ul {
        display: block;
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

    .wdt-header-menu ul li.menu-item-depth-0 > ul { margin-top: -5px; }

	.wdt-header-menu ul li.menu-item-depth-0.focus>ul,
	.wdt-header-menu ul li.menu-item-depth-0:focus>ul,
	.wdt-header-menu ul li.menu-item-depth-0:hover>ul { margin-top: 0; }


	/*--------------------------------------------------------------
		Mobile Menu Navigation
	--------------------------------------------------------------*/

	.mobile-nav-container .menu-trigger {
		color: var(--wdtHeadAltColor);
		cursor: pointer;
        display: inline-block;
		height: 1rem;
		line-height: 1rem;
        text-decoration: none !important;
	}

	.mobile-nav-container .menu-trigger>i,
	.mobile-nav-container .menu-trigger>span {
		display: inline-block;
		font-size: 1.1rem;
		padding: 0 5px;
		vertical-align: middle;
	}

	.mobile-nav-container .menu-trigger>i {
		background-color: currentColor;
		height: 2px;
		position: relative;
		width: 18px;
		transition: background-color 10ms 300ms ease;
	}

	.mobile-nav-container .menu-trigger>i:before, .mobile-nav-container .menu-trigger>i:after {
		background: currentColor;
		content: "";
		height: 2px;
		position: absolute;
		left: 0;
		width: 100%;
		transition: left 300ms 350ms ease, top 300ms 350ms ease, transform 300ms 50ms ease;
	}

	.mobile-nav-container .menu-trigger>i:before { top: -6px; }
	.mobile-nav-container .menu-trigger>i:after { top: 6px; }

	.nav-is-visible .mobile-nav-container .menu-trigger>i:before, .nav-is-visible .mobile-nav-container .menu-trigger>i:after { left: -5px; -webkit-transition: left 300ms 50ms ease,  top 300ms 50ms ease, transform 300ms 350ms ease; transition: left 300ms 50ms ease, top 300ms 50ms ease, transform 300ms 350ms ease; }


	.mobile-menu,
	.mobile-menu ul,
	.mobile-menu ul li {
		display: block;
		margin: 0;
		padding: 0;
		text-align: left;
	}

	.mobile-menu ul li {
		position: static;
	}

	.mobile-menu ul > li > a,
	.mobile-menu ul ul > li > a {
		border-style: solid;
		border-width: 1px 0 0;
		display: block;
		font-size: 16px;
		padding: 5px 15px;
        width: 100%;
        font-weight: var(--wdtFontWeight_Base);
	}

    .mobile-menu ul > li > a:not(:focus),
	.mobile-menu ul ul > li > a:not(:focus) { text-decoration: none; }

    .mobile-menu ul > li > a:focus,
	.mobile-menu ul ul > li > a:focus { text-decoration: none !important; outline: none; }

	.mobile-menu ul > li > a,
	.mobile-menu ul ul > li > a {
		min-height: 42px;
		line-height: 42px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.mobile-menu ul li.has-mega-menu ul > li > a { padding-left: 0; padding-right: 0; }

	.mobile-menu,
	.mobile-menu > ul,
	.mobile-menu > ul ul.children,
	.mobile-menu > ul ul.sub-menu,
	.mobile-menu > ul ul.children > li > ul,
	.mobile-menu > ul ul.sub-menu > li > ul {
		border-width: 0;
		display: block;
		height: 100%;
		margin: 0;
		opacity: 1;
		overflow-y: visible;
		/* overflow-x: hidden; */
		padding: 0;
		position: fixed;
		left: auto !important;
		right: 0 !important;
		top: 0 !important;
		visibility: visible;
		width: 100%;
		z-index: 5;
		-webkit-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-transition: transform 0.3s;
		transition: transform 0.3s;
	}

	.mobile-menu {
        display: none;
		max-width: 260px;
		opacity: 0;
		visibility: hidden;
		z-index: 1056;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: opacity .25s ease-in-out 0s, visibility 0.25s ease-in-out 0s, transform .3s ease-in-out 0.25s;
		transition: opacity .25s ease-in-out 0s, visibility 0.25s ease-in-out 0s, transform .3s ease-in-out 0.25s;
	}

	.mobile-nav-offcanvas-right .mobile-menu {
		right: 0;
	}

	.mobile-nav-offcanvas-left .mobile-menu {
		left: 0;
		right: auto;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	.mobile-menu.is-hidden,
	.mobile-menu > ul.is-hidden,
	.mobile-menu > ul li ul.is-hidden,
	.mobile-menu ul.sub-menu.is-hidden,
	.mobile-menu ul.sub-menu li ul.is-hidden {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}

	.mobile-menu li.has-mega-menu ul ul.children,
	.mobile-menu li.has-mega-menu ul ul.sub-menu { display: none !important; }

	.mobile-menu.nav-is-visible {
        display: block;
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-transition: -webkit-transform .25s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
		transition: transform .25s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
        animation-name: anime-slidein-right;
        -webkit-animation-duration: 0.75s;
        animation-duration: 0.75;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
	}

	.mobile-menu ul {
		min-width: 100% !important;
		left: auto !important;
		right: auto !important;
		width: 100% !important;
	}

	.mobile-menu ul li {
		float: left;
		width: 100%;
	}

	.mobile-menu ul li.go-back a {
		background: none !important;
		color: inherit !important;
		border-width: 0 !important;
		height: 100%;
		padding: 0;
	}

	.mobile-menu ul li.go-back a,
	.mobile-menu li[class*="has-children"] > a,
	.mobile-menu li[class*="has_children"] > a {
		position: relative;
	}

	.mobile-menu li[class*="has-children"] > a,
	.mobile-menu li[class*="has_children"] > a {
		padding-right: 40px;
	}

	.mobile-menu ul li.go-back,
	.mobile-menu ul li.close-nav {
		display: inline-block;
		height: 50px;
        line-height: 50px;
		width: 100%;
	}

	.mobile-menu ul ul li.go-back,
	.mobile-menu ul ul li.close-nav {
		width: 50%;
	}

    .mobile-menu ul li.go-back > a,
	.mobile-menu ul li.close-nav > a { background: none !important; width: 50px; }

    .mobile-menu ul ul li.go-back > a:focus,
    .mobile-menu ul li.close-nav a:focus { outline: none; outline-offset: -5px; }

	.mobile-menu ul li.close-nav {
		border-width: 0 !important;
		float: right;
		position: relative;
		top: 0;
		right: 0;
		z-index: 5;
		text-align: center;
		cursor: pointer;
	}

    .mobile-menu ul li.close-nav a { float: right; height: 100%; line-height: inherit; padding: 0; position: relative; }
    .mobile-menu ul li.close-nav a:hover { background: none; }

	.mobile-menu ul li.close-nav a:before,
	.mobile-menu ul li.close-nav a:after {
		content: "";
		height: 35%;
		margin: auto;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		width: 2px;
	}

	.mobile-menu ul ul li.go-back:before,
	.mobile-menu ul ul li.close-nav a:before,
	.mobile-menu ul ul li.go-back:after,
	.mobile-menu ul ul li.close-nav a:after {
		margin: auto 0;
		left: auto;
		right: 24px;
	}

	.mobile-menu ul li.close-nav a:before {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.mobile-menu ul li.close-nav a:after {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.mobile-menu ul li.close-nav a:hover:before {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.mobile-menu ul li.close-nav a:hover:after {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.mobile-menu ul li.go-back a:before,
	.mobile-menu ul li.go-back a:after,
	.mobile-menu li[class*="has-children"] > a:before,
	.mobile-menu li[class*="has-children"] > a:after,
	.mobile-menu li[class*="has_children"] > a:before,
	.mobile-menu li[class*="has_children"] > a:after {
		display: inline-block;
		position: absolute;
		top: 50%;
		width: 15px;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.mobile-menu ul li.go-back a:before {
		content: "\f104";
		font-family: "LilacBeauty Icons";
		font-size: 24px;
		height: 50px;
		line-height: 50px;
		left: 15px;
		text-align: center;
	}

	.mobile-menu ul li.see-all a { padding: 0 15px !important; }

	.mobile-menu li[class*="has-children"] > a:before,
	.mobile-menu li[class*="has_children"] > a:before {
		content: "\f105";
		font-family: "LilacBeauty Icons";
		font-size: 24px;
		height: 42px;
		line-height: 42px;
		right: 12px;
		text-align: center;
	}

	.mobile-menu ul li.go-back a:after,
	.mobile-menu li[class*="has-children"] > a:after,
	.mobile-menu li[class*="has_children"] > a:after {
		content: "";
		background-color: currentColor;
		height: 2px;
		opacity: 0;
		visibility: hidden;
	}

	.mobile-menu ul li.go-back a:hover:before {
		left: 10px;
	}

	.mobile-menu li[class*="has-children"] > a:hover:before,
	.mobile-menu li[class*="has_children"] > a:hover:before {
		right: 8px;
	}

	.mobile-menu ul li.go-back a:after {
		left: 25px;
	}

	.mobile-menu ul li.go-back a:hover:after {
		left: 15px;
	}

	.mobile-menu li[class*="has-children"] > a:after,
	.mobile-menu li[class*="has_children"] > a:after {
		right: 18px;
	}

	.mobile-menu li[class*="has-children"] > a:hover:after,
	.mobile-menu li[class*="has_children"] > a:hover:after {
		right: 12px;
	}

	.mobile-menu-overlay {
		cursor: pointer;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		position: fixed;
		visibility: hidden;
		width: 100%;
		z-index: 1053;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: opacity 0.25s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
		transition: opacity 0.25s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
	}

	.mobile-menu-overlay.is-visible,
	.mobile-menu ul li.go-back a:hover:after,
	.mobile-menu li[class*="has-children"] > a:hover:after,
	.mobile-menu li[class*="has_children"] > a:hover:after {
		opacity: 1;
		visibility: visible;
	}

	.mobile-menu ul li a,
	.mobile-menu ul li a:before,
	.mobile-menu ul li a:after,
	.mobile-menu ul li.close-nav a,
	.mobile-menu ul li.close-nav a:before,
	.mobile-menu ul li.close-nav a:after {
		-webkit-transition: var(--wdtBaseTransition);
		transition: var(--wdtBaseTransition);
	}

	.mobile-menu ul::-webkit-scrollbar {
		width: 5px;
	}

	.mobile-menu ul::-webkit-scrollbar-thumb {
		border-radius: 5px;
	}

	.mobile-menu li.has-mega-menu ul li[class*="has-children"] > a:before,
	.mobile-menu li.has-mega-menu ul li[class*="has_children"] > a:before,
	.mobile-menu li.has-mega-menu ul li[class*="has-children"] > a:after,
	.mobile-menu li.has-mega-menu ul li[class*="has_children"] > a:after {
		display: none;
	}

    .mobile-menu ul li.has-mega-menu ul li.menu-item-object-wdt_mega_menus .elementor-heading-title{padding:5px 15px;margin:10px 0 -25px; color: var(--wdtHeadAltColor);
    font-size: var(--wdtFontSize_H6); }
    .mobile-menu .wdt-header-menu .menu-container{display:block;margin:0;padding:0;text-align:left;float:left;width:100%}
    .mobile-menu .wdt-header-menu .menu-container .wdt-secondary-nav li.go-back,.mobile-menu .wdt-header-menu .menu-container .wdt-secondary-nav li.close-nav{display:none}
    .mobile-menu ul li.has-mega-menu .wdt-secondary-nav>li>a{padding:0 15px;width:100%;border-radius:0}
    .mobile-menu>ul li.has-mega-menu ul.sub-menu{overflow-x:hidden}


	.logged-in.admin-bar .mobile-menu {
		top: 32px !important;
	}

	@media screen and (max-width: 782px) {
		/* Login Admin Bar */
		.logged-in.admin-bar .mobile-menu {
			overflow: visible;
			top: 46px !important;
		}
		.logged-in.admin-bar .mobile-menu:before {
			background-color: inherit;
			content: "";
			height: 100%;
			position: absolute;
			left: 0;
			top: -46px;
			width: 100%;
		}
	}

    @-webkit-keyframes anime-slidein-right {
        0% {
            -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes anime-slidein-right {
        0% {
            -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }
    }

/*--------------------------------------------------------------
    Default Colors
--------------------------------------------------------------*/

    #header-wrapper #header:only-child .wdt-no-header-builder-content, .wdt-header-menu ul li ul,
    .mobile-menu, .mobile-menu>ul, .mobile-menu ul, .mobile-menu ul li ul { background: var(--wdtBodyBGColor); }


    .mobile-menu ul::-webkit-scrollbar { background-color: #f1f1f1; }
    .mobile-menu ul::-webkit-scrollbar-thumb { background-color: #c1c1c1; }


    .mobile-menu ul li.close-nav a:before, .mobile-menu ul li.close-nav a:after { background-color: var(--wdtHeadAltColor); }

    .mobile-menu ul li.see-all a { background-color: rgba(var(--wdtHeadAltColorRgb),0.05) !important; color: inherit !important; }

    .mobile-menu-overlay { background-color: rgba(var(--wdtHeadAltColorRgb),0.5); }



    .wdt-header-menu ul li ul.children > li > a, .wdt-header-menu ul li ul.sub-menu > li > a,
    .wdt-header-menu ul li.has-mega-menu ul.menu > li > a { padding: 5px 25px; }
    .mobile-menu li a { border-color: rgba(var(--wdtHeadAltColorRgb),0.06); }


    #header-wrapper #header:only-child .wdt-no-header-builder-content:before { background-color: var(--wdtTertiaryColor); }

    .wdt-header-menu ul li ul.children, .wdt-header-menu ul li ul.sub-menu, .wdt-header-menu ul li.has-mega-menu>ul { -webkit-box-shadow: 0 0 2px 3px rgba(var(--wdtHeadAltColorRgb),0.02); box-shadow: 0 0 2px 3px rgba(var(--wdtHeadAltColorRgb),0.02); }

    .mobile-menu ul li.see-all a { -webkit-box-shadow: 0 1px 0 0 rgba(var(--wdtHeadAltColorRgb),0.06); box-shadow: 0 1px 0 0 rgba(var(--wdtHeadAltColorRgb),0.06); }

    .mobile-menu ul::-webkit-scrollbar-track, .mobile-menu ul::-webkit-scrollbar-thumb { -webkit-box-shadow: 0 0 6px rgba(var(--wdtHeadAltColorRgb),0.3) inset; box-shadow: 0 0 6px rgba(var(--wdtHeadAltColorRgb),0.3) inset; }



    .mobile-menu .wdt-dark-bg h1, .mobile-menu .wdt-dark-bg h2, .mobile-menu .wdt-dark-bg h3, .mobile-menu .wdt-dark-bg h4, .mobile-menu .wdt-dark-bg h5, .mobile-menu .wdt-dark-bg h6, .mobile-menu .wdt-dark-bg p { color: var(--wdtHeadAltColor) !important; }


    .mobile-menu>li>a, .mobile-menu>li ul>li a { color: var(--wdtHeadAltColor); }


    .wdt-dark-bg .wdt-no-header-builder-content .no-header .no-header-title > a:not(:focus):not(:hover), .wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li > a, .wdt-dark-bg .mobile-nav-container .menu-trigger { color: var(--wdtAccentTxtColor); }



/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

    /* Primary Color */
	.wdt-header-menu ul li.focus > a, .wdt-header-menu ul li:focus > a, .wdt-header-menu ul li:hover > a, .wdt-header-menu ul li > a:hover,
    .wdt-header-menu ul li ul li.focus > a, .wdt-header-menu ul li ul li:focus > a, .wdt-header-menu ul li ul li:hover > a, .wdt-header-menu ul li ul li > a:hover,

    .wdt-header-menu ul li.current-menu-item > a, .wdt-header-menu ul li.current-page-item > a, .wdt-header-menu ul li.current-menu-ancestor > a, .wdt-header-menu ul li.current-page-ancestor > a,

    .wdt-header-menu ul li.current_menu_item > a, .wdt-header-menu ul li.current_page_item > a, .wdt-header-menu ul li.current_menu_ancestor > a, .wdt-header-menu ul li.current_page_ancestor > a,

    .wdt-header-menu ul li ul li.current-menu-item > a, .wdt-header-menu ul li ul li.current-page-item > a, .wdt-header-menu ul li ul li.current-menu-ancestor > a, .wdt-header-menu ul li ul li.current-page-ancestor > a,

    .wdt-header-menu ul li ul li.current_menu_item > a, .wdt-header-menu ul li ul li.current_page_item > a, .wdt-header-menu ul li ul li.current_menu_ancestor > a, .wdt-header-menu ul li ul li.current_page_ancestor > a,

    .wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li > a:focus, .wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li > a:hover,
    .wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_menu_item > a, .wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_page_item > a,
    .wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current-menu-item > a, .wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current-page-item > a,
    .wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_menu_item > a, .wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_page_item > a,
    .wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_menu_ancestor > a, .wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_page_ancestor > a,
    .wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current-menu-ancestor > a, .wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current-page-ancestor > a { color: var(--wdtLinkHoverColor); }


    .mobile-menu ul li.menu-item > a:hover, .mobile-menu ul li.menu-item:hover > a, .mobile-menu ul li.menu-item ul li.menu-item > a:hover, .mobile-menu ul li.menu-item ul li.menu-item:hover > a, .mobile-menu ul li.menu-item ul li.menu-item > a:hover, .mobile-menu ul li.menu-item ul li.menu-item:hover > a,

    .mobile-menu ul li.current-menu-item > a, .mobile-menu ul li.current-page-item > a, .mobile-menu ul li.current-menu-ancestor > a, .mobile-menu ul li.current-page-ancestor > a,

    .mobile-menu ul li.current_menu_item > a, .mobile-menu ul li.current_page_item > a, .mobile-menu ul li.current_menu_ancestor > a, .mobile-menu ul li.current_page_ancestor > a,

    .mobile-menu ul li ul li.current-menu-item > a, .mobile-menu ul li ul li.current-page-item > a, .mobile-menu ul li ul li.current-menu-ancestor > a, .mobile-menu ul li ul li.current-page-ancestor > a,

    .mobile-menu ul li ul li.current_menu_item > a, .mobile-menu ul li ul li.current_page_item > a, .mobile-menu ul li ul li.current_menu_ancestor > a, .mobile-menu ul li ul li.current_page_ancestor > a { background-color: var(--wdtPrimaryColor); color: var(--wdtSecondaryColor); }


    /* Primary Border Color */
    .no-header-menu ul li ul, .wdt-header-menu ul li ul.children, .wdt-header-menu ul li ul.sub-menu, .wdt-header-menu ul li.has-mega-menu > ul { border-color: var(--wdtPrimaryColor); }
    #header .wdt-header-menu ul li.has-mega-menu ul li.menu-item-object-wdt_mega_menus li a { font-family: var(--wdtFontTypo_Alt); }

    .wdt-header-menu .menu-container .wdt-primary-nav li[class*="has-children"] ul.sub-menu > li > a > span {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .wdt-header-menu .menu-container .wdt-primary-nav li[class*="has-children"] ul > li.menu-item > a > span:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .wdt-no-header-builder-content .no-header .no-header-logo > a > img, .elementor-widget-wdt-logo div.wdt-logo-container a img {
        max-width: 100%;
        width: 100%;
        height: 44px;
    }

    .wdt-header-menu ul li.has-mega-menu > ul {
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .wdt-header-menu ul li.has-mega-menu > ul > li.menu-item {
        background-color: var(--wdtBodyBGColor);
        -webkit-box-shadow: 0 0 2px 3px rgba(var(--wdtHeadAltColorRgb),0.02);
        box-shadow: 0 0 2px 3px rgba(var(--wdtHeadAltColorRgb),0.02);
    }

/*--------------------------------------------------------------
    Responsive
--------------------------------------------------------------*/

    @media only screen and (min-width:1281px) and (max-width:1540px) {
    
        #header .wdt-header-tpl .elementor-section-boxed.sticky-header-active:not(.elementor-section-stretched) {
            max-width: 1080px;
        }
    
        .wdt-header-menu ul.wdt-primary-nav li.has-mega-menu>ul.sub-menu {
            min-width: 1080px;
        }
    
    }
    
    @media only screen and (min-width: 1281px) {
    
        /* New Mega Menu Style */
    
        #header .wdt-elementor-container-fluid .wdt-header-menu ul.wdt-primary-nav li.has-mega-menu>ul.sub-menu>li.menu-item-object-wdt_mega_menus {
            margin: 0 auto;
            width: 100%;
            max-width: 1200px;
            display: block;
            padding: 40px 10px;
        }
    
        #header .wdt-elementor-container-fluid .wdt-header-menu ul.wdt-primary-nav li.has-mega-menu ul.sub-menu li.menu-item-object-wdt_mega_menus .elementor-container .elementor-row>.elementor-column>.elementor-element-populated>.elementor-widget-wrap {
            padding: 0 30px;
            border-left: none;
        }
    
        #header .wdt-elementor-container-fluid .wdt-header-menu ul.wdt-primary-nav li.has-mega-menu ul.sub-menu li.menu-item-object-wdt_mega_menus .elementor-section:not([data-settings*="background_background"]):not([class*="ary-bg"]) .elementor-row {
            margin: 0;
            width: 100%;
        }
    
        #header .wdt-header-menu ul li.has-mega-menu ul li.menu-item-object-wdt_mega_menus li a {
            padding: 0;
        }
    }
    
    @media only screen and (min-width:1281px) and (max-width:1540px) {
        #header .wdt-elementor-container-fluid .wdt-header-menu ul.wdt-primary-nav li.has-mega-menu>ul.sub-menu>li.menu-item-object-wdt_mega_menus {
            padding: 30px 0;
        }
    }


    @media only screen and (min-width:1541px) and (max-width:1724px) {
        .wdt-header-menu ul li:not(.has-mega-menu) ul {
            width: 180px;
        }

        .wdt-header-menu ul li ul.sub-menu li>a {
            font-size: var(--wdtFontSize_Base);
        }
    }

    @media only screen and (min-width:1281px) and (max-width:1540px) {

        .wdt-header-menu ul>li:nth-last-child(-n+3) ul li.menu-item-depth-2>ul,
        .wdt-header-menu ul>li:nth-last-child(-n+3) ul li.menu-item-depth-4>ul,
        .wdt-header-menu ul>li:nth-last-child(-n+3) ul li.menu-item-depth-6>ul,
        .wdt-header-menu ul>li:nth-last-child(-n+3) ul li.menu-item-depth-8>ul,
        .wdt-header-menu ul>li:nth-last-child(-n+3) ul li.menu-item-depth-10>ul {
            left: 100%;
            right: auto;
        }

        .wdt-header-menu ul>li:nth-last-child(-n+3) ul li.menu-item-depth-1>ul,
        .wdt-header-menu ul>li:nth-last-child(-n+3) ul li.menu-item-depth-3>ul,
        .wdt-header-menu ul>li:nth-last-child(-n+3) ul li.menu-item-depth-5>ul,
        .wdt-header-menu ul>li:nth-last-child(-n+3) ul li.menu-item-depth-7>ul,
        .wdt-header-menu ul>li:nth-last-child(-n+3) ul li.menu-item-depth-9>ul {
            left: auto;
            right: 100%;
        }

        .wdt-header-menu ul li:not(.has-mega-menu) ul {
            width: 180px;
        }

        .wdt-header-menu ul li:not(.has-mega-menu) ul li > a {
            font-size: var(--wdtFontSize_Base);
        }

    }

    @media only screen and (min-width:1281px) {
        .wdt-header-menu { display: inline-block; }
        .wdt-header-menu.no-header-menu { text-align: right; }
        .mobile-nav-container,
        .wdt-header-menu ul li.close-nav,
        .wdt-header-menu ul li.go-back,
        .wdt-header-menu ul li.see-all {
            display: none;
        }
        .wdt-header-menu.center {
            display: table;
        }

        .wdt-header-menu .wdt-primary-nav>li>a {
            margin: 15px 0;
        }
    }

    @media only screen and (max-width: 1280px) {

        .wdt-header-menu .menu-container {
            display: none;
        }
        .wdt-header-menu .mobile-nav-container {
            display: block;
            margin: 30px 0;
        }

        .wdt-no-header-builder-content .no-header .no-header-title {
            float: left;
            margin: 16px 0;
        }
        .wdt-no-header-builder-content .no-header .no-header-title h2 {
            text-align: center;
        }
        .wdt-no-header-builder-content .no-header .mobile-nav-container {
            float: right;
            font-size: 1rem;
            line-height: normal;
            margin: 25px 0;
            width: auto;
        }
        .elementor-widget-wp-widget-nav_menu .mobile-nav-container {
            width: auto;
            float: none;
            margin: 20px 0;
            text-align: right;
            padding-right: 10px;
        }

        body:not(.no-breadcrumb) #header-wrapper.header-top-absolute #header .wdt-header-tpl {
            margin-top: 0;
        }

        .mobile-menu ul li.menu-item-object-wdt_mega_menus div[class*="elementor-column-gap"]>.elementor-column>.elementor-element-populated {
            padding: 0;
        }
    }


    @media only screen and (min-width:1024px) and (max-width:1280px) {
        .wdt-header-menu .mobile-nav-container {
            margin: 30px 0;
        }
    }

    @media only screen and (max-width: 1024px) {
        .wdt-no-header-builder-content .no-header .no-header-logo > a > img, .elementor-widget-wdt-logo div.wdt-logo-container a img {
            max-width: 100px;
            width: 100%;
            height: 30px;
        }
    }

    /* Note: Design for a width of 768px */

    @media only screen and (min-width:768px) and (max-width:1024px) {

        .mobile-nav-container .menu-trigger>span { display: none; }

    }


    /*----*****---- << Mobile (Landscape) > ----*****----*/

    /* Common Styles for the devices below 767px width */

    @media only screen and (max-width: 767px) {
        .wdt-no-header-builder-content .no-header-top {
            text-align: center;
        }

        .wdt-no-header-builder-content .no-header .no-header-title a {
            display: inline-block;
            width: 100%;
        }
        .wdt-no-header-builder-content .no-header .no-header-menu,
        .wdt-no-header-builder-content:not(.aligncenter) .no-header .no-header-title~.no-header-menu {
            color: var(--wdtHeadAltColor);
            line-height: 1.5em;
        }

        .wdt-no-header-builder-content:not(.aligncenter) .no-header .no-header-title~.no-header-menu {
            display: inline-block;
            margin-left: 15px;
            width: auto;
        }

        .wdt-header-menu .mobile-nav-container {
            margin: 0;
        }

        .mobile-nav-container,
        .wdt-no-header-builder-content .no-header .mobile-nav-container {
            display: inline-block;
            float: none;
            margin: 0 auto;
        }
        .mobile-nav-container .menu-trigger>span { display: none; }

    }


    /* Common Styles for the devices below 479px width */

    @media only screen and (max-width: 479px) {

        .wdt-no-header-builder-content .no-header-top,
        .wdt-no-header-builder-content .no-header {
            text-align: center;
            justify-content: space-between;
        }
        .wdt-no-header-builder-content .no-header .no-header-title {
            float: none;
            display: inline-block;
            margin-top: 20px;
            width: auto;
        }
        .wdt-no-header-builder-content .no-header .mobile-nav-container {
            display: inline-block;
            margin: 0;
            float: none;
            width: auto;
        }

        .wdt-no-header-builder-content .no-header .no-header-menu,
        .wdt-no-header-builder-content:not(.aligncenter) .no-header .no-header-title~.no-header-menu {
            line-height: 1.5em;
            margin: 10px 0;
            padding: 0;
        }

    }


/* Custom header style */

#header .wdt-header-tpl .sticky-header-active .wdt-no-header-builder-content .no-header .no-header-logo > a > img, #header .wdt-header-tpl .sticky-header-active .elementor-widget-wdt-logo div.wdt-logo-container a img {
    width: 80%;
    max-width: 80%;
}

#header .wdt-header-tpl .elementor-section-boxed.sticky-header-active:not(.elementor-section-stretched) { max-width: 100%; padding: 10px 0; }
#header .wdt-header-tpl .sticky-header-active.wdt-header-top { background-color: rgba(var(--wdtBodyBGColorRgb), 0.95); padding: 10px; } 

.wdt-header-menu .menu-container .wdt-primary-nav > li > a > span {
    position: relative; display: inline-block;
}
/* .wdt-header-menu .menu-container .wdt-primary-nav > li > a > span::before {
    content: ''; position: absolute; width: calc(100% - 6px);
    -webkit-transform: scaleX(0); transform: scaleX(0);
    height: 2px; bottom: -2px; left: 3px; right: 3px; background-color: currentColor;
    -webkit-transform-origin: bottom right; transform-origin: bottom right;
    -webkit-transition: transform 0.25s ease-out; transition: transform 0.25s ease-out;
}


.wdt-header-menu .menu-container .wdt-primary-nav li.focus > a > span:before, .wdt-header-menu .menu-container .wdt-primary-nav li:focus > a > span:before, 
.wdt-header-menu .menu-container .wdt-primary-nav li:hover > a > span:before, .wdt-header-menu .menu-container .wdt-primary-nav li > a > span:hover:before,

.wdt-header-menu .menu-container .wdt-primary-nav li.current-menu-item > a > span:before, 
.wdt-header-menu .menu-container .wdt-primary-nav li.current-page-item > a > span:before, 
.wdt-header-menu .menu-container .wdt-primary-nav li.current-menu-ancestor > a > span:before, 
.wdt-header-menu .menu-container .wdt-primary-nav li.current-page-ancestor > a > span:before,

.wdt-header-menu .menu-container .wdt-primary-nav li.current_menu_item > a > span:before, 
.wdt-header-menu .menu-container .wdt-primary-nav li.current_page_item > a > span:before, 
.wdt-header-menu .menu-container .wdt-primary-nav li.current_menu_ancestor > a > span:before, 
.wdt-header-menu .menu-container .wdt-primary-nav li.current_page_ancestor > a > span:before,

.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li > a > span:focus:before, 
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li > a > span:hover:before,
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_menu_item > a > span:before, 
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_page_item > a > span:before,
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current-menu-item > a > span:before, 
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current-page-item > a > span:before,
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_menu_item > a > span:before, 
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_page_item > a > span:before,
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_menu_ancestor > a > span:before, 
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current_page_ancestor > a > span:before,
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current-menu-ancestor > a > span:before, 
.wdt-dark-bg .wdt-header-menu > .menu-container > .wdt-primary-nav > li.current-page-ancestor > a > span:before {
    -webkit-transform: scaleX(1); transform: scaleX(1);
    -webkit-transform-origin: bottom left; transform-origin: bottom left;
} */

.wdt-custom-menu-style.elementor-align-left .wdt-header-menu .menu-container .wdt-primary-nav > li:nth-child(2) > a {
    padding-left: 0;
}


.wdt-header-icons-list-item:after { display: none; }

.wdt-header-icon-style .wdt-header-icons-list-item div[class*="menu-icon"] > a > span i,
.wdt-header-icon-style .wdt-header-icons-list-item div[class*="menu-icon"] > a > span svg {
    display: inline-flex;
    height: 1.14em;
    width: 1.14em;
    max-height: 100%;
    max-width: 100%;
}

.wdt-header-icon-style .wdt-header-icons-list { margin: 0 -10px;}
.wdt-header-icon-style .wdt-header-icons-list .wdt-header-icons-list-item { padding: 5px; }

/* Search Container */

body > .wdt-search-form-container.show {  background-color: rgba(var(--wdtPrimaryColorRgb),.95); }
body>.wdt-search-form-container.show #searchform input[type="text"] {
    border: 1px solid var(--wdtBorderColor);
    background-color: var(--wdtAccentTxtColor);
    font-size: var(--wdtFontSize_Base);
    color: var(--wdtHeadAltColor);
    border-radius: var(--wdtRadius_Zero);
    padding: 10px 20px;
}
body > .wdt-search-form-container.show #searchform input[type="text"]:focus { border: 1px solid var(--wdtTertiaryColor); }
body > .wdt-search-form-container.show #searchform input[type="submit"] { width: 44px; bottom: 4px; right: 4px; top: 4px; }
body > .wdt-search-form-container.show #searchform::before { bottom: 4px; right: 4px; top: 4px; width: 44px; color: var(--wdtLinkColor); font-size: 18px; overflow: hidden; }
/* body > .wdt-search-form-container.show #searchform:hover::before { color: var(--wdtAccentTxtColor); background: var(--wdtPrimaryColor); } */
body>.wdt-search-form-container.show #searchform input::placeholder { color: var(--wdtSecondaryColor) ;}
body > .wdt-search-form-container.show #searchform:hover:before { color: var(--wdtTertiaryColor);}


/* Search Container Close Button Style */

body > .wdt-search-form-container.show > .wdt-search-form-close {
    -webkit-border-radius: var(--wdtRadius_Zero); border-radius: var(--wdtRadius_Zero); background: var(--wdtTertiaryColor);
}

body > .wdt-search-form-container.show > .wdt-search-form-close::before, 
body > .wdt-search-form-container.show > .wdt-search-form-close::after {
    content: "" !important; width: 55%; height: 2px; background: var(--wdtAccentTxtColor);
    position: absolute; top: 48%; left: 22%; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); 
    -webkit-transition: transform 300ms ease-in-out; transition: transform 300ms ease-in-out;
}
body > .wdt-search-form-container.show > .wdt-search-form-close::after {
    -webkit-transform: rotate(45deg); transform: rotate(45deg); 
    -webkit-transition: transform 300ms ease-in-out; transition: transform 300ms ease-in-out;
}
body > .wdt-search-form-container.show > .wdt-search-form-close:hover:before { -webkit-transform: rotate(-135deg); transform: rotate(-135deg);}
body > .wdt-search-form-container.show > .wdt-search-form-close:hover:after {
    -webkit-transform: rotate(135deg); transform: rotate(135deg);
}
/* .wdt-header-menu .wdt-primary-nav .menu-item .sub-menu > li > a > span {
    display: inline-flex;
    align-items: center;
}

.wdt-header-menu .wdt-primary-nav .menu-item .sub-menu > li > a > span::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cpath d='M0.5,49.999c0,18.985,15.444,34.428,34.424,34.428c18.21,0,33.133-14.231,34.311-32.153h23.3 L76.106,68.7c-0.706,0.71-0.706,1.863,0,2.573c0.356,0.353,0.826,0.531,1.288,0.531s0.931-0.174,1.288-0.531l19.523-19.53 c0.007-0.004,0.007-0.004,0.007-0.004l1.288-1.284l-1.284-1.284c0-0.004,0-0.004-0.007-0.004L78.675,29.63 c-0.71-0.71-1.863-0.71-2.573,0c-0.71,0.71-0.71,1.863,0,2.573l16.433,16.433H69.279c-0.72-18.351-15.829-33.063-34.347-33.063 C15.944,15.573,0.5,31.015,0.5,49.999z M4.138,50.001c0-16.979,13.814-30.789,30.789-30.789c8.22,0,15.953,3.206,21.775,9.021 c5.491,5.487,8.614,12.696,8.948,20.403h-28.82c-1,0-1.819,0.815-1.819,1.819s0.818,1.819,1.819,1.819H65.6 c-1.183,15.916-14.476,28.514-30.676,28.514C17.948,80.789,4.138,66.981,4.138,50.001z'%3E%3C/path%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cpath d='M0.5,49.999c0,18.985,15.444,34.428,34.424,34.428c18.21,0,33.133-14.231,34.311-32.153h23.3 L76.106,68.7c-0.706,0.71-0.706,1.863,0,2.573c0.356,0.353,0.826,0.531,1.288,0.531s0.931-0.174,1.288-0.531l19.523-19.53 c0.007-0.004,0.007-0.004,0.007-0.004l1.288-1.284l-1.284-1.284c0-0.004,0-0.004-0.007-0.004L78.675,29.63 c-0.71-0.71-1.863-0.71-2.573,0c-0.71,0.71-0.71,1.863,0,2.573l16.433,16.433H69.279c-0.72-18.351-15.829-33.063-34.347-33.063 C15.944,15.573,0.5,31.015,0.5,49.999z M4.138,50.001c0-16.979,13.814-30.789,30.789-30.789c8.22,0,15.953,3.206,21.775,9.021 c5.491,5.487,8.614,12.696,8.948,20.403h-28.82c-1,0-1.819,0.815-1.819,1.819s0.818,1.819,1.819,1.819H65.6 c-1.183,15.916-14.476,28.514-30.676,28.514C17.948,80.789,4.138,66.981,4.138,50.001z'%3E%3C/path%3E%3C/svg%3E");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: currentColor;
    margin-right: 10px;
} */

.wdt-header-menu .menu-container .wdt-primary-nav li[class*="has-children"] > a > span:after {
    content: "";
    width: 5px;
    height: 5px;
    position: relative;
    right: 0;
    bottom: 2px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: currentColor;
    display: inline-block;
    margin-left: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Responsive */

@media (max-width: 1540px) {
    .wdt-header-menu .wdt-primary-nav > li > a { padding: 8px 16px; }
}

@media only screen and (min-width: 1281px) { 
    .wdt-header-menu .wdt-primary-nav > li > a{
        margin: 10px 0;
    }
}

@media (max-width: 1280px ) {
    .wdt-custom-menu-style { margin-left: auto; }
    .wdt-custom-menu-style.home-2 { margin-left: 0; }

    /* .wdt-custom-menu-style .wdt-header-menu .mobile-nav-container { margin: 0 12px; text-align: center; padding: 10px; } */
    .wdt-custom-menu-style.home-2 .wdt-header-menu .mobile-nav-container { text-align: left; }
    .wdt-custom-menu-style .mobile-nav-container .menu-trigger > span { display: none;}
    .wdt-custom-menu-style .mobile-nav-container .menu-trigger { width: 25px; height: 25px; line-height: 25px; }
    .wdt-custom-menu-style .mobile-nav-container .menu-trigger > i { width: 20px;}

    .wdt-custom-menu-style .mobile-nav-container .menu-trigger > i::before { top: -7px; }
    .wdt-custom-menu-style .mobile-nav-container .menu-trigger > i::after { top: 7px; }

    .wdt-custom-menu-style .mobile-nav-container .menu-trigger > i::before, 
    .wdt-custom-menu-style .mobile-nav-container .menu-trigger > i::after, 
    .wdt-custom-menu-style .mobile-nav-container .menu-trigger > i {
        border-radius: 5px;
    }

    .wdt-header-icon-style { width: auto; max-width: 100% !important; }

}

@media (max-width: 767px ) {
    .elementor-widget-wdt-header-menu.wdt-custom-menu-style { margin-top: 0;}
    /* .wdt-custom-menu-style .wdt-header-menu .mobile-nav-container { margin: 0 5px; text-align: center; padding: 5px; } */

   .wdt-custom-flex-reverse .elementor-column-wrap .elementor-widget-wrap { flex-direction: row-reverse; }
   .wdt-custom-menu-style.home-2 .wdt-header-menu .mobile-nav-container { text-align: right; }
}