/*--------------------------------------------------------------
    404 Error / Not-found Page
--------------------------------------------------------------*/

	.error404, .error404 > .wrapper { width:100%; height:100%; }
	.error404 > .wrapper { display: flex; padding: 35px 0 50px; }

	.center-content-wrapper { display:table; width:100%; height:100%; }
	.center-content-wrapper .center-content { display:table-cell; width:100%; height:100%; vertical-align:middle; }

	.error404 h1, .error404 h2, .error404 h3, .error404 h4, .error404 h5, .error404 h6 { line-height: 1em; }
	.error404 h2 { font-size: 170px; font-weight: bold; }
	.error404 h3 { font-size:70px; font-weight:bold; }
	.error404 h4 { font-size:60px; font-weight:300; }
	.error404 .wdt-button, .error404 .wdt-button.type2 { padding: 15px 35px; display: inline-block; letter-spacing:1.5px; }
	.error404 .type2 #wdt-style-picker ul li::before, .error404 #wdt-style-picker ul li:before { content:none; }
	.error404 .type2 #wdt-style-picker h3, .error404 #wdt-style-picker h3 { letter-spacing:0; text-transform:capitalize; }
	.error404 #wdt-style-picker h2 { top:0; }

	.error-box-inner * { text-align: center; }

	.error404 .menu-links { margin:40px 0; }
	.error404 .menu-links li { display:inline-block; text-transform:uppercase; font-size:16px; padding:0; margin:0 2px 5px; }
	.error404 .menu-links li a { padding:7px 20px; display:inline-block; }

	.error404 #searchform .wdt-search-icon { display:none; }
	.error404 #searchform { display: inline-block; margin: 0 auto; position: relative; width: 60%; }
	.error404 #searchform input[type="text"], .error404 #searchform input[type="submit"] { height:52px; }
    .error404 #searchform input[type="submit"] { border-radius: 0; padding: 13px 20px 13px; position: absolute; right: 0; top: 0; margin-top:0; }

    .error404 .container { height:100%; text-align:center; }



/*--------------------------------------------------------------
    Default Colors
--------------------------------------------------------------*/

	.error404 .wdt-dark-bg, .error404 .menu-links li:hover a { background: var(--wdtBodyBGColor) !important; }
	.error404 .menu-links li a { background:rgba(var(--wdtHeadAltColorRgb),0.05); }

	.error404 .wdt-button.type2, .error404 .menu-links li:hover a { color: var(--wdtAccentTxtColor); }

	/* .error404 .wdt-button { background-color: var(--wdtPrimaryColor); }
	.error404 .wdt-button:hover { background-color: var(--wdtAccentTxtColor); } */

	.error404 .wdt-button {
		background-color: var(--wdtPrimaryColor);
		color: var(--wdtSecondaryColor);
		position: relative;
		overflow: hidden;
		isolation: isolate;
	}

	.error404 .wdt-button:hover { color: var(--wdtAccentTxtColor); }

	.error404 .wdt-button:before {
		content: "";
		left: -10%;
		right: -10%;
		top: -2px;
		bottom: -2px;
		width: 120%;
		position: absolute;
		display: block !important;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: bottom right;
		transform-origin: bottom right;
		-webkit-clip-path: polygon(91% 0, 100% 50%, 91% 100%, 0% 100%, 8% 50%, 0% 0%);
		z-index: -1;
		clip-path: polygon(91% 0, 100% 50%, 91% 100%, 0% 100%, 8% 50%, 0% 0%);
		background-color: var(--wdtSecondaryColor);
		-webkit-transition: transform .35s ease-out;
		transition: transform .35s ease-out;
	}

	.error404 .wdt-button:focus:before, .error404 .wdt-button:hover:before {
		left: -10%;
		right: -10%;
		top: -2px;
		bottom: -2px;
		width: 120%;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transform-origin: bottom left;
		transform-origin: bottom left;
	}

	.error404 .menu-links li a { color: var(--wdtHeadAltColor); }



/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

	.error404 h2 { color: var(--wdtPrimaryColor); }


	
	


/*--------------------------------------------------------------
 Responsive
--------------------------------------------------------------*/

/* Common Styles for the devices below 479px width */
@media only screen and (max-width: 479px) {

	.error404 h2 { font-size: var(--wdtFontSize_H1); }
	.error404 h3 { font-size: var(--wdtFontSize_H2); }
	.error404 h4 { font-size: var(--wdtFontSize_H3); }

}