
/*--------------------------------------------------------------*/
    /* #region - Button Element Button */
/*--------------------------------------------------------------*/

    .woocommerce ul.products li.product .product-buttons-wrapper.product-button a.button.product_type_simple:after { content: "\e820"; font-family: 'LilacBeauty Icons';  }
    .woocommerce ul.products li.product .product-buttons-wrapper.product-button a.button.product_type_variable:after { content: "\f218"; font-family: 'LilacBeauty Icons'; }
    .woocommerce ul.products li.product .product-buttons-wrapper.product-button a.button.add_to_cart_button.product_type_simple:after { content: "\f217"; font-family: 'LilacBeauty Icons'; }
    .woocommerce ul.products li.product .product-buttons-wrapper.product-button a.added_to_cart.wc-forward:after { content: "\e843"; font-family: 'LilacBeauty Icons'; z-index: 1; }
    .woocommerce ul.products li.product .product-buttons-wrapper.product-button a.button.product_type_external:after { content: "\f08e"; font-family: "LilacBeauty Icons"; }
    .woocommerce ul.products li.product .product-buttons-wrapper.product-button a.button.product_type_grouped:after { content: "\f16b"; font-family: 'LilacBeauty Icons'; }
    .woocommerce ul.products li.product .product-buttons-wrapper.product-button .button.add_to_cart_with_quantity_button:after { content: "\f217"; font-family: 'LilacBeauty Icons'; }

/* #endregion - IconsGroup Button */