
/*--------------------------------------------------------------*/
    /* #region - Thumb Button Element */
/*--------------------------------------------------------------*/

.woocommerce ul.products li.product .wc_compare_btn_wrapper { margin: 0 auto; position: absolute; bottom: 0; left: 0; right: 0; }
.woocommerce ul.products li.product .wc_compare_btn_wrapper a { padding-top: 6px; padding-bottom: 6px; border-radius: 0; }
.woocommerce ul.products li.product .wc_compare_btn_wrapper a.compare.added:after { vertical-align: middle; }

.woocommerce ul.products li.product .product-buttons-wrapper.product-button a.yith-woocompare-button:after { content: "\e866"; font-family: 'LilacBeauty Icons'; }

/* #endregion - Thumb IconsGroup Icon */