
/*--------------------------------------------------------------*/
    /* #region - Thumb IconsGroup Position */
/*--------------------------------------------------------------*/

    .woocommerce ul.products[class*="product-thumb-iconsgroup-position"] li.product .product-thumb .product-buttons-wrapper.product-icons { margin: 5px; width: auto; }

    .woocommerce ul.products.product-thumb-iconsgroup-position-horizontal li.product .product-thumb .product-element-group-wrapper .product-buttons-wrapper.product-icons,

    .woocommerce ul.products.product-thumb-iconsgroup-position-horizontal li.product .product-details .product-element-group-wrapper .product-buttons-wrapper.product-icons { position: static; }


    .woocommerce ul.products.product-thumb-iconsgroup-position-horizontal li.product .product-thumb .product-element-group-wrapper .product-buttons-wrapper.product-icons .wc_inline_buttons > .wc_btn_inline,

    .woocommerce ul.products.product-thumb-iconsgroup-position-horizontal li.product .product-details .product-element-group-wrapper .product-buttons-wrapper.product-icons .wc_inline_buttons > .wc_btn_inline { display: inline-block; }


    .woocommerce ul.products.horizontal-position-bottom li.product .product-thumb .product-buttons-wrapper.product-icons { left: 0; right: 0; text-align: center; }


    .woocommerce ul.products[class*="position-bottom"] li.product .product-thumb .product-buttons-wrapper.product-icons { bottom: 0; }


    /* Hover Style - IconGroup - Bounce */
    .woocommerce ul.products.product-icongroup-hover-bounce.product-thumb-iconsgroup-position-horizontal[class*="horizontal-position-bottom"] li.product .product-thumb-content .product-buttons-wrapper.product-icons a,
    .woocommerce ul.products.product-icongroup-hover-bounce.product-thumb-iconsgroup-position-horizontal[class*="horizontal-position-bottom"] li.product .product-thumb-content .product-buttons-wrapper.product-icons a.button,
    .woocommerce ul.products.product-icongroup-hover-bounce.product-thumb-iconsgroup-position-horizontal[class*="horizontal-position-bottom"] li.product .product-thumb-content .product-buttons-wrapper.product-icons button,
    .woocommerce ul.products.product-icongroup-hover-bounce.product-thumb-iconsgroup-position-horizontal[class*="horizontal-position-bottom"] li.product .product-thumb-content .product-buttons-wrapper.product-icons button.button,
    .woocommerce ul.products.product-icongroup-hover-bounce.product-thumb-iconsgroup-position-horizontal[class*="horizontal-position-bottom"] li.product .product-thumb-content .product-buttons-wrapper.product-icons .button { bottom: -60px; top: auto; visibility: hidden; }

    .woocommerce ul.products.product-icongroup-hover-bounce.product-thumb-iconsgroup-position-horizontal[class*="horizontal-position-bottom"] li.product:hover .product-thumb-content .product-buttons-wrapper.product-icons a,
    .woocommerce ul.products.product-icongroup-hover-bounce.product-thumb-iconsgroup-position-horizontal[class*="horizontal-position-bottom"] li.product:hover .product-thumb-content .product-buttons-wrapper.product-icons a.button,
    .woocommerce ul.products.product-icongroup-hover-bounce.product-thumb-iconsgroup-position-horizontal[class*="horizontal-position-bottom"] li.product:hover .product-thumb-content .product-buttons-wrapper.product-icons button,
    .woocommerce ul.products.product-icongroup-hover-bounce.product-thumb-iconsgroup-position-horizontal[class*="horizontal-position-bottom"] li.product:hover .product-thumb-content .product-buttons-wrapper.product-icons button.button,
    .woocommerce ul.products.product-icongroup-hover-bounce.product-thumb-iconsgroup-position-horizontal[class*="horizontal-position-bottom"] li.product:hover .product-thumb-content .product-buttons-wrapper.product-icons .button { bottom: 10px; visibility: visible; }


    .woocommerce ul.products.product-icongroup-hover-bounce.product-thumb-iconsgroup-style-simple[class*="horizontal-position-bottom"] li.product:hover .product-thumb .product-buttons-wrapper.product-icons a,
    .woocommerce ul.products.product-icongroup-hover-bounce.product-thumb-iconsgroup-style-simple[class*="horizontal-position-bottom"] li.product:hover .product-thumb .product-buttons-wrapper.product-icons a.button,
    .woocommerce ul.products.product-icongroup-hover-bounce.product-thumb-iconsgroup-style-simple[class*="horizontal-position-bottom"] li.product:hover .product-thumb .product-buttons-wrapper.product-icons button,
    .woocommerce ul.products.product-icongroup-hover-bounce.product-thumb-iconsgroup-style-simple[class*="horizontal-position-bottom"] li.product:hover .product-thumb .product-buttons-wrapper.product-icons button.button,
    .woocommerce ul.products.product-icongroup-hover-bounce.product-thumb-iconsgroup-style-simple[class*="horizontal-position-bottom"] li.product:hover .product-thumb .product-buttons-wrapper.product-icons .button { bottom: 0; top: auto; }

/* #endregion - Thumb IconsGroup Position */    